#Rec1Name{color: Black;
             font-size: 30px;
             font-weight: bold;
            }
#Rec2Name{color: Black;
             font-size: 30px;
             font-weight: bold;
            }            
#Rec3Name{color: Black;
             font-size: 30px;
             font-weight: bold;
            }            

#Rec1Rating{color: Black;
             font-size: 20px;
            }
            
#Rec1Reviews{color: Black;
             font-size: 20px;
            }  
#Rec1BotReviewTitle{color: Blue;
             font-size: 30px;
             font-weight: bold;
            }            
#Rec1BotReview{color: Black;
             font-size: 20px;
            } 
#Rec1TopReviewTitle{color: Blue;
             font-size: 30px;
             font-weight: bold;
            }
#Rec1TopReview{color: Black;
             font-size: 20px;
            }              

#Rec2Rating{color: Black;
             font-size: 20px;
            }
            
#Rec2Reviews{color: Black;
             font-size: 20px;
            }       
#Rec2BotReviewTitle{color: Blue;
             font-size: 30px;
             font-weight: bold;
            }            
#Rec2BotReview{color: Black;
             font-size: 20px;
            } 
#Rec2TopReviewTitle{color: Blue;
             font-size: 30px;
             font-weight: bold;
            }
#Rec2TopReview{color: Black;
             font-size: 20px;
            }
#Rec3Rating{color: Black;
             font-size: 20px;
            }
            
#Rec3Reviews{color: Black;
             font-size: 20px;
            }                   

#Rec3BotReviewTitle{color: Blue;
             font-size: 30px;
             font-weight: bold;
            }            
#Rec3BotReview{color: Black;
             font-size: 20px;
            } 
#Rec3TopReviewTitle{color: Blue;
             font-size: 30px;
             font-weight: bold;
            }
#Rec3TopReview{color: Black;
             font-size: 20px;
            }